/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);


#div0 {
 width:100%;
 padding:10px;
 }
#div1 {
position:relative;
 top:0;
 float:left;
 width:20%;

}
#div2 {
 position:relative;
  float:right;
 top:8px;
 width:75%;

 
}
#wrapper {
    width: 900px;
    margin: 0 auto;
    text-align: left;
	margin-left: auto; 
	margin-right: auto;
	background-color:#FFF;
}


#footer {
 width:100%;
 text-align: center;
clear: both;
padding-top: 30px;
display: block;
}
 
body,td,th {
	font-family: 'News Cycle','Ropa Sans', sans-serif;
}
body {
	background-color:#CCC;
/*	margin-left: 20%;
	margin-top: 20px;
	margin-right: 20%;
	margin-bottom: 20px;
background-image: url(Images/new_bg.jpg);
	background-repeat: repeat;*/
	
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #CC0000;
}
a:active {
	text-decoration: none;
	color: #CC0000;
}
.style1 {
	font-size: 36pt;
	margin: 0px;
	padding: 0px;
}
.style2 {
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
	color: #000000;
}
.style3 {
	font-size: 16pt;
}
.style4 {
	font-size: 20pt;
	color: #CC0000;
}
.style5 {
	font-size: 12pt;
}

.style13
{
	padding:5px;
	padding-left:15px;
}
.style14
{
	font-size: 12pt;
	padding-right:20px;
}

.style15
{
	font-size: 16pt;
	padding-right:20px;
	color:#30F;
}
/*
.right
{
         float: right; /*right in our text
         margin: 10px; /*space around the image
}
.left
{
         float: left; /*right in our text
         margin: 10px; /*space around the image
}*/