body {
  min-height: 750px;
  padding-top: 70px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container1 {
	float: left;
    margin-left: 10px;
    padding-right: 15px;
    padding-left: 15px;
  
}
@media (min-width: 768px) {
  .container1 {
    width: 320px;
  }
}
@media (min-width: 992px) {
  .container1 {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .container1 {
    width: 600px;
  }


.jumbotron{padding:30px;margin-bottom:30px;color:inherit;background-color:#eee}

.jumbotron .h1,
.jumbotron .h1{color:inherit}
.jumbotron .p{margin-bottom:15px;font-size:21px;font-weight:200}
.container .jumbotron{border-radius:6px}
.jumbotron .container{max-width:100%}
@media screen and (min-width:768px){.jumbotron{padding-top:36px;padding-bottom:36px}
.container .jumbotron{padding-left:40px;padding-right:40px}.jumbotron .h1,.jumbotron .h1{font-size:45px}}

.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.form-control::-moz-placeholder{color:#999;opacity:1}.form-control:-ms-input-placeholder{color:#999}.form-control::-webkit-input-placeholder{color:#999}.form-control[disabled],.form-control[readonly],.fieldset[disabled] .form-control{cursor:not-allowed;background-color:#eee;opacity:1}.textarea.form-control{height:auto}.input[type=search]{-webkit-appearance:none}.input[type=date]{line-height:34px}.form-group{margin-bottom:15px}