/* CSS Document */

/*@import url(http://fonts.googleapis.com/css?family=Molengo&v1);
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);


#div0 {
 width:100%;
 padding:10px;
  
}

#div1 {
position:relative;
 top:0;
 float:left;
 width:20%;
 
}
#div2 {
 position:relative;
  float:right;
  width:75%; 
 
}
#wrapper {
    width: 900px;
    margin: 0 auto;
    text-align: left;
	margin-left: auto; 
	margin-right: auto;
	background-color:#FFF;
}

#tooltip1 { position: relative; }
#tooltip1 a span { display: none; color: #FFFFFF; }
#tooltip1 a:hover span {  display:block; position:absolute; width:auto; text-align:center; background-color:transparent; height:auto; left:auto top:auto; color:#0000CC; padding: 0px; }
 
#footer {
 width:100%;
 text-align: center;
clear: both;
padding-top: 30px;
display: block;
}
body,td,th {
font-family: 'Droid Sans','News Cycle','Ropa Sans', sans-serif;
}

body {
	/*margin-left: 20%;
	margin-top: 20px;
	margin-right: 20%;
	margin-bottom: 20px;*/
	background-color:#CCC;
	/*background-image: url(Images/new_bg.jpg);
	background-repeat: repeat;*/
}
html {
	overflow-y: scroll;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	resize: both;
}
a:active {
	text-decoration: none;
	color: #CC0000;
	font-family: 'Droid Sans', 'News Cycle','Ropa Sans', sans-serif;
}

.style0 {
	font-size: 20pt;
	/*text-decoration: none;*/
	color: #CC0000;
}

.style1 {
	
	font-size: 32pt;
	margin: 0px;
	padding: 0px;
	color:#000000;
}
.style2 {
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.style3 {
	font-size: 16pt;
}
.style4 {
	font-size: 20pt;
	color: #CC0000;
}
.style5 {
	font-size: 14pt; 
}

.style6 {
	font-size: 12pt;
}
.style7 {
	text-decoration: underline;
}

.style8 {
	font-size: 12pt;
	margin: 0px;
	padding: 0px;
	text-decoration: underline;
}
.style9 {
	font-size: 18pt;
	color:#00C;
	}

.style10 {
	font-size: 12pt;
	color:#00C;
	}
.style11 {
color:#00C;
	}
.style12 {
font-size: 16pt;
/*text-decoration: none;*/
color: #CC0000;

}

.style13
{
	padding:5px;
	padding-left:15px;
}
.style14
{
	padding-right:20px;
}
.link1 {
	color: #CC0000;
}
.link2 {
	font-size: 12pt;
	color: #CC0000;
	text-decoration: underline;
}
.style15
{
	color:#0033FF;
	}
.style16
{font-size: 16pt;
	color:#FFFFFF;
}
.style17
{font-size: 16pt;
	color:#FFFFFF;
	text-indent:10px;
}

.style18 {
	font-size: 12pt;
	margin: 0px;
	padding: 0px;
}
