/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Molengo&v1);

#div0 {
 width:100%;
 
}
#div1 {
position:relative;
 top:0;
 float:left;
 width:20%;
 
}
#div2 {
 position:relative;
  float:right;
  width:75%; 
 
}

#tooltip1 { position: relative; }
#tooltip1 a span { display: none; color: #FFFFFF; }
#tooltip1 a:hover span { display: block; position: relative; width:auto; background-color:transparent; height:auto; left:auto top:auto; color:#0000CC; padding: 5px; }
 
#footer {
 width:100%;
 text-align: center;
clear: both;
padding-top: 30px;
display: block;
}
body,td,th {
	font-family: Molengo, Myriad Pro, Myriad Pro Cond, Myriad Pro Light, Garamond, serif;
}
body {
	margin-left: 20%;
	margin-top: 20px;
	margin-right: 20%;
	margin-bottom: 20px;
	background-image: url(Images/new_bg.jpg);
	background-repeat: repeat;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #CC0000;
}
a:active {
	text-decoration: none;
	color: #CC0000;
}

.style0 {
	font-size: 20pt;
}

.style1 {
	font-size: 36pt;
	margin: 0px;
	padding: 0px;
}
.style2 {
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.style3 {
	font-size: 16pt;
}
.style4 {
	font-size: 20pt;
	color: #CC0000;
}
.style5 {
	font-size: 14pt; 
}

.style6 {
	font-size: 12pt;
}
.style7 {
	text-decoration: underline;
}

.style8 {
	font-size: 12pt;
	margin: 0px;
	padding: 0px;
	text-decoration: underline;
}
.style9 {
	font-size: 16pt;
	color:#F00
}

.link1 {
	color: #CC0000;
}
.link2 {
	font-size: 12pt;
	color: #CC0000;
	text-decoration: underline;
}

